@font-face{ 
    font-family: "Mouly";
    src: url('fonts/Mouly-BF64dcec4a31c45.ttf');
}
@font-face{ 
    font-family: "Rough_Battle";
    src: url('fonts/Rough Battle.ttf');
}
@font-face{
    font-family: "Tilt Neon";
    src: url('fonts/TiltNeon-Regular-VariableFont_XROT\,YROT.ttf')
}

/*IndexPage*/
.bodyIndex{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url(../images/backgroundHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.triangle-container-index{
    position: relative;
    display: inline-block;
}

.triangle-container-index h1{
    font-family: "Rough_Battle";
    position: absolute;
    top: 30%;
    left: 58%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgba(48, 14, 41, 0.889);
    font-size: 32px;
    z-index: 1;
}

.centeredIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ulIndex {
    float: right;
    display:flex;
    list-style-type: none; 
}

.ulIndex img{
    width: 50% ;
}

.ulIndex figure {
    border: 3px #ef60d993 solid;
    text-align: center;
}
  
.ulIndex figcaption {
    font-family: "Rough_Battle";
    background-color: black;
    color: #9E8CFF;
    font-style: italic;
    text-align: center;
}

footer#indexFooter{
    text-align:right;
    color: #F0ABD6 
}

h3#tilteAboutMe{
    font-family: "Rough_Battle";
    font-size: 150%;
    padding-left: 5%;
    color: #9E8CFF;
}

p#indexDescription{
    color:#fee3ff;
    font-size: 18px;
    padding-left: 5%;    
}

blockquote#quoteIndex{
    padding-left: 5%;    
    font-family: "Mouly";
    color:  #9E8CFF;
}

.containerIndex {
    display: flex;
}

.containerIndex article {
    flex: 1;
}

.containerIndex aside {
    flex: 1;
}

.image-section {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 7.5%;
}

.image-section img {
    width: 12.5%;
}

#ImageYo img {
    margin-left: 10%;
    width: 100%;
    height: auto;
    border: 3px solid #8a2be2;
    border-radius: 8px;
    padding: 5px;
}

.mySection{
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#div2 {
    flex: 3;
}

/*Navigation*/
.myNavIndex{
    justify-content: center;
    align-items: Center;
    display: flex;
}

.myNavIndex div{
    width: 40%;
    border-radius: 10px;
    background-color: #ef60d993;
    justify-content: space-evenly;
}

.myNavIndex ul{
    text-align: center;
    list-style-type:none;
    font-size: 24px;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.myNavIndex ul li{
    flex-grow: 1;
}

.myNavIndex a{
    font-style: oblique;
    font-weight:bolder;
    font-size: 32px;
    font-family: "Mouly";
    text-decoration:dotted;
    color: rgb(225, 11, 129);
}

.myNavIndex a:hover{
    text-decoration: underline;
}

.myNavIndex a:active{
    color: rgb(129, 25, 161);
    background-color:rgba(117, 128, 199, 0.231);
}

/*Navigation*/
/*IndexPage*/

/*Proyects*/
.bodyProyects{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url(../images/background_proyects.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
}

.triangle-container-proyects{
    position: relative;
    display: inline-block;
}

.triangle-container-proyects h1{
    font-family: "Rough_Battle";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgba(4, 25, 48, 0.889);
    font-size: 32px;
    z-index: 1;
}

.myProyectsLinks {
    display: flex;
    margin-top: 2.5%;
}

.myProyectsLinks section {
    flex: 1;
}

.myProyectsLinks h2{
    font-family: 'Rough_Battle', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color:rgb(175, 109, 223);
    padding: 0;
    margin: 0;
}

.myProyectsLinks ul{
    list-style-type:circle;
    color: rgb(175, 109, 223);
    font-family: "Mouly";
}

.myProyectsLinks a{
    font-style: oblique;
    font-weight:bolder;
    font-size: 28px;
    color: #9E8CFF;
    text-decoration:dotted;
}

.myProyectsLinks img{
    width: 40%;
}

.myProyectsLinks a:hover{
    text-decoration:underline;
    color: #00c8ff;  
}

.myProyectsLinks a:active{
    color: #00c8ff;
    background-color:#9E8CFF;
}

footer#proyectfooter{
    text-align: right;
    color: rgb(192, 107, 250)
}

div#images{
    margin-top: 2.5%;
    float: left;
    flex: 1;
}

/*Navigation*/

.myNavProyects{
    display: flex;
    justify-content: Center;
    align-items: Center;
}

.myNavProyects div{
    width: 40%;
    border-radius: 10px;
    background-color: #9d8cff82;
    justify-content: space-evenly;
}

.myNavProyects ul{
    text-align: center;
    list-style-type:none;
    font-size: 24px;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.myNavProyects ul li{
    flex-grow: 1;
}

.myNavProyects li a{
    font-family: "Mouly";
    color:#21099c;  
    text-decoration:dotted; 
}

.myNavProyects a{
    font-weight:bolder;
    font-size: 32px;
}

.myNavProyects a:hover{
   text-decoration: underline;
   color:#9E8CFF; 
}

.myNavProyects a:active{
   color:#9E8CFF; 
   background-color:#21099c; 
}

/*Navigation*/
/*Proyects*/


/*Skills*/
.bodySkills{
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}

.blur-background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/background_skills.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(8px);
    z-index: -1;
    transform: scale(1.1);
}

.triangle-container-skills{
    position: relative;
    display: inline-block;
}

.triangle-container-skills h1{
    font-family: "Rough_Battle";
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: rgba(142, 6, 108, 0.889);
    font-size: 32px;
    z-index: 1;
}

.tablesSkills-sections{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.table-skills {
    width: 60%;
    table-layout: fixed;
    margin-right: 7.5%;
    border-collapse: collapse; /* Para juntar los bordes de las celdas */
}

.table-skills tr{
    margin: auto;
    padding: .4em;
}

.table-skills td {
    font-family: 'Tilt Neon';
    font-size: 20px;
    color: #ff8400;
    text-shadow: 0 0 5px rgba(255, 226, 162, 0.8),
                0 0 15px rgba(255, 226, 162, 0.8),
                0 0 35px #f8972f;
    text-align: center;
    width: 50%;
}

.table-skills td img{
    width: 50%;
    height: 30%;
}

.table-skills td:first-child{
    text-align: right;
    width: 55%;
}

.titleSkills{
    font-family:"Mouly";
    color: rgb(255, 247, 0);
    text-shadow: 0 0 5px rgba(241, 255, 162, 0.8),
    0 0 15px #f8eb2f;
    font-size: 22px;
}

footer#skillsFooter{
    text-align: right;
    color: #ff8400;
}

/*Navigation*/
.myNavSkills {
    display: flex;
    justify-content: center;
    align-items: Center;
}

.myNavSkills a{
    font-style: oblique;
    font-weight:bolder;
    font-size: 24px;
}

.myNavSkills div{
    width: 40%;
    border-radius: 10px;
    background-color: #776cb282;
    justify-content: space-evenly;
}

.myNavSkills ul{
    text-align: center;
    list-style-type:none;
    font-size: 24px;
    font-weight:bolder;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.myNavSkills ul li{
    flex-grow: 1;
}

.myNavSkills li a{
    font-family: "Rough_Battle", Georgia, Times, serif;
    color:#3108fe;
    text-decoration:dotted; 
}

.myNavSkills a:hover{
    text-decoration:underline; 
    color:#9E8CFF; 
}

.myNavSkills a:active{
   color:#9E8CFF; 
   background-color:#21099c; 
}
/*Navigation*/
/*Skills*/